<%- include('head', { title }) %>
<%- include('nav') %>
<main class="container narrow">
  <section class="card center-text">
    <h1><%= heading %></h1>
    <p><%= message %></p>
    <p><a href="/">Return home</a></p>
  </section>
</main>
<%- include('footer') %>
